name: Tmate Session SSH Access

# Se dispara ÚNICAMENTE de forma manual.
on:
  workflow_dispatch:

# Opcional: Asegura que solo se ejecute una sesión a la vez.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tmate_connection:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código (Recomendado, pero opcional)
        # Es buena práctica para tener el contexto de tu código en la sesión.
        uses: actions/checkout@v4
        
      - name: Ejecutar Tmate y obtener la URL SSH
        # Esta acción se encarga de instalar tmate, ejecutarlo, 
        # e imprimir la conexión SSH/Web en los logs.
        uses: tmate-io/a-tmate-action@v2
        with:
          # Recomendación de seguridad: 
          # Solo permite la conexión SSH al usuario que ejecutó el workflow.
          limit-access-to-actor: true
          
      # El Job se queda 'corriendo' en este paso.

